* text=auto

# Ensure shell scripts and other executable text files retain their executable flag
*.sh eol=lf

# Disable diffing for certain file types
*.lock -diff

*.png           binary
*.jpg           binary
*.gz            binary
*.pdf           binary
