@import "tailwindcss";
@import "tailwindcss-primeui";
@import "@mdi/font/css/materialdesignicons.css";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

html {
    @apply h-screen;
    background: #121212;
    font-size: 14px;
}

input.p-inputtext {
    @apply max-w-full;
}

.p-component.p-select-overlay {
    @apply mt-1.5;
}

.p-component.p-toast {
    @apply max-w-[90vw];
}

.draggable-region {
	-webkit-app-region: drag;
}

.pixelated {
	image-rendering: pixelated;
}
